.vscode
#Virtual Enviroment files
venv
pyvenv.cfg
__pycache__
#Temporal
#setup.py
#Test files
test.*
#Mac files
.DS_Store
#Latex files
latex.aux
latex.fdb_latexmk
latex.fls
latex.log
latex.synctex.gz
latex.tex
